* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}

#main-header{
    text-align: center;
}

#main-header-Text{
    margin: 0px;
    padding-bottom: 15px;
    font-size: 70px;
}

#newTask-Input{
    padding: 7px 50px 5px 10px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.500);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#addTodo-Button{
    background-color: rgb(12, 150, 248);
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

#addTodo-Button:hover{
    background-color: rgb(0, 0, 0);
}

.todos{
    display: none;
    margin: 35px auto 0px auto;
    max-width: 600px;
    width: calc(100% - 40px);
    font-size: 23px;
    border-radius: 5px;
    padding: 7px 10px 1px 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.todos.show {
    display: block;
}